:host {
	display: block;
	border-radius: 8px;
	overflow: hidden;
}

.placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;

	p {
		margin: 0;
		padding: 0;
		line-height: 48px;
	}
}
