<button (click)="loadingTrigger$.next(undefined)">Refresh</button>
<table [dataSource]="(todoLists$ | async) ?? []" mat-table>
	<ng-container matColumnDef="title">
		<th *matHeaderCellDef mat-header-cell>Title</th>
		<td *matCellDef="let todoList" mat-cell>{{ todoList.title }}</td>
	</ng-container>

	<ng-container matColumnDef="items">
		<th class="align-right" *matHeaderCellDef mat-header-cell style="width: 50px">Items</th>
		<td class="align-right" *matCellDef="let todoList" mat-cell>{{ todoList.items.length }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th class="align-right" *matHeaderCellDef mat-header-cell style="width: 150px">Actions</th>
		<td class="align-right" *matCellDef="let todoList" mat-cell>
			<button (click)="onEditClick(todoList)" mat-icon-button>
				<mat-icon>edit</mat-icon>
			</button>

			<button (click)="onDeleteClick(todoList.id)" mat-icon-button>
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

	<!-- <tr *matNoDataRow>
		<td class="mat-cell" [attr.colspan]="displayedColumns.length">
			<div class="placeholder">
				@if (todoListsStore.todosResource.isLoading()) {
					<mat-spinner [diameter]="48"></mat-spinner>
				} @else if (todoListsStore.todosResource.error()) {
					<p>Error loading todo lists</p>
					<button (click)="todoListsStore.reload()" mat-flat-button>Retry</button>
				} @else {
					<p>There are no todo lists</p>
				}
			</div>
		</td>
	</tr> -->
</table>

@if (isLoading$ | async) {
	Loading...
}

@if (error$ | async) {
	<button (click)="loadingTrigger$.next(undefined)">Retry</button>
}
