<table [dataSource]="todoListsStore.entities()" mat-table>
	<ng-container matColumnDef="title">
		<th *matHeaderCellDef mat-header-cell>Title</th>
		<td *matCellDef="let todoList" mat-cell>{{ todoList.title }}</td>
	</ng-container>

	<ng-container matColumnDef="items">
		<th *matHeaderCellDef mat-header-cell>Items</th>
		<td *matCellDef="let todoList" mat-cell>{{ todoList.items.length }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th *matHeaderCellDef mat-header-cell>Actions</th>
		<td *matCellDef="let todoList" mat-cell>
			<button [disabled]="deletingRecord()[todoList.id]" (click)="onEditClick(todoList.id)" mat-icon-button>
				<mat-icon>edit</mat-icon>
			</button>

			<button [disabled]="deletingRecord()[todoList.id]" (click)="onDeleteClick(todoList.id)" mat-icon-button>
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

	<tr *matNoDataRow>
		<td class="mat-cell" [attr.colspan]="displayedColumns.length">
			<div class="placeholder">
				@if (!todoListsStore.isLoading()) {
					<p>There are no todo lists</p>
				} @else {
					<mat-spinner [diameter]="48"></mat-spinner>
				}
			</div>
		</td>
	</tr>
</table>
