<main>
	<header>
		<a href="https://infinum.com/" title="Go to Infinum website" target="_blank">
			<img class="logo-infinum" alt="Infinum logo" src="./assets/images/infinum-logo.svg" />
		</a>

		<a href="https://github.com/fvoska/ng-renaissance-workshop" target="_blank" title="Go to the Workshop repository">
			<img class="logo-github" alt="GitHub logo" src="./assets/images/github-mark.svg" />
		</a>
	</header>

	<section>
		<article [innerHTML]="parsedContent()"></article>
	</section>
</main>
