:host {
	display: block;
	min-height: 100dvh;
	background-color: var(--infinum-grey2);
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

section {
	background-color: var(--infinum-white);
	border-radius: 1rem;
	padding: 2rem;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
::ng-deep h1 {
	text-align: center;
	margin-top: 1rem;
}

img {
	width: 100%;
	max-width: 225px;
	margin-bottom: 1rem;
}
