:host {
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 16px;
}

.add-item-button {
	align-self: flex-end;
}

.items-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 16px;
}

.add-item-container {
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: center;
}
