main {
	margin: 0 auto 0.5rem;
	background-color: white;
	border-radius: 1rem;
	padding: 2rem;
	width: calc(100% - 0.5rem);
	max-width: 1000px;
	flex: 1;
	box-shadow: var(--mat-sys-level2);

	@media (width < 768px) {
		margin: 0 0.25rem;
		padding: 1rem;
		border-radius: 0.5rem;
	}
}

mat-sidenav-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;

	@media (width < 768px) {
		padding: 0 0.25rem 0.5rem;
	}
}

mat-toolbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.desktop-toolbar {
	padding: 0 2rem;
}

.logo-infinum {
	width: 100%;
	max-width: 225px;
}

.logo-github {
	height: 32px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

mat-sidenav-container {
	height: 100%;
}

.spacer {
	flex: 1 1 auto;

	@media (width < 768px) {
		display: none;
	}
}

.menu-button {
	display: none;

	@media (width < 768px) {
		display: inline-flex;
	}
}

.desktop-nav {
	display: flex;
	gap: 48px;
	align-items: center;
	font-size: 1.25rem;

	@media (width < 768px) {
		display: none;
	}
}
