:host {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-height: 100dvh;
	margin: 0 auto;
	padding: 2rem;

	@media (width < 768px) {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}

main {
	background-color: white;
	border-radius: 1rem;
	padding: 2rem;
	flex: 1;

	@media (width < 768px) {
		border-radius: 0;
	}
}

.logo-infinum {
	width: 100%;
	max-width: 225px;
}

.logo-github {
	height: 32px;
}

header {
	width: 100%;
	padding-bottom: 1rem;

	@media (width < 768px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;

	ul {
		padding-inline: 0;
		gap: 48px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		li {
			list-style: none;

			a {
				color: black;
				text-decoration-color: #d82828;
			}
		}
	}
}
